@font-face {
    font-family:Shabnam;
    src: url(../font/Shabnam.ttf);
}

html , body {
    direction: rtl;
	background-image: linear-gradient(to bottom right, #d8b5ff, #1eae98);
	background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
.dashboard{
    width: 100%;
    height: 7em;
	/*background-image: linear-gradient(to right, dodgerblue , gray);*/
	background: rgba(255,255,255,0.8);
	color: #444b54;
	padding: 5px;
    position: fixed;
    right: 0;
	top: 0;
	left: 0;
    box-shadow: 5px 0px 20px 1px rgba(0,0,0,0.8);

}
.container{
    margin-right: 12.5%;
}
.logo{
    transform: translateY(-13px);
    margin-right: 2em;
    margin-top:10px;
}
.center p{
    transform: translateY(-33px);
    font-family: 'Shabnam';
    font-size: 3.2em;
}
.back-ward{
    width: 70px;
    transform: translateY(15px);
}
.main-container{
    width: 100%;
    margin-top:8.8em;
}
/* Style the tab */
.tabs-container{
    margin: auto;
    width: 95%;
}
.tab {
    width: 80%;
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 40px 0 40px;
    border-radius: 60px 0 0 0 ;
    transition: 0.3s;
    font-size:24px;
    font-family: 'Shabnam';
  }
  
.tab button:hover {
    background-color: #133636;
}
  
.tab button.active {
    background-color: #0d6363;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background:#0d6363 ;
  }
.tabcontent p{
    font-size: 23px;
    color: #fff;
    font-family: 'Shabnam';

}
.rows-of-content{
    width: 100%;
}
.cards{
    text-align: center;
    min-height: 300px;
    background: #027c6a;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-bottom: 30px;
    padding-bottom:30px;
}
.cards input[type=text]{
    text-align: center;
    font-family: 'Shabnam';
    font-size: 23px;
    padding: 10px;
    margin-bottom: 20px;
    border:none;
}
.cards input[type=submit]{
    cursor: pointer;
    border-radius: 10px;
    border:none;
    background: #133636;
    color: #fff;
    text-align: center;
    font-family: 'Shabnam';
    font-size: 23px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.cards font{
    color:#fff;
    font-family: 'Shabnam';
    margin-bottom: 15px;
}
.cards .adad{
    direction: ltr;
}
